<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" [routerLink]="['/']" class="nav-link">
        <span class="clr-icon clr-dallar-logo"></span>
        <span class="title">Dallar Mining Pool</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
          <a class="nav-link" href="#" [routerLink]="['/pool-stats']" routerLinkActive="active"><span class="nav-text">Pool Stats</span></a>
          <a class="nav-link" href="#" [routerLink]="['/top-miners']" routerLinkActive="active"><span class="nav-text">Top 20 Miners</span></a>
      </div>
    <div class="header-actions">
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
