<div class="card">
    <div class="card-block">
        <clr-icon shape="search"></clr-icon>
        <input id="search_input" type="text" placeholder="Worker address" [(ngModel)]="lookupModel.address" (keyup)="onSubmit()">
    </div>
</div>
<div class="card">
    <div class="card-header">Worker {{validAddress}}</div>
    <div class="card-block">
        <p *ngIf="!lookedUp">Please enter valid worker address above.</p>
        <div class="row" *ngIf="lookedUp"> 
            <div class="col-md-6">
                <h3>{{minerStats.performance.workers | numkeys}} Miner(s)</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Worker Name</th>
                            <th>Hash Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let miner of minerStats.performance.workers | keyvalue">
                            <td>{{miner.key}}</td>
                            <td>{{miner.value.hashrate | hashScale | si:6:'H/s'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h3>Stats</h3>
                <table class="table table-vertical">
                    <tbody>
                        <tr>
                            <th>Total Paid</th>
                            <td>{{minerStats.totalPaid}} DAL</td>
                        </tr>
                        <tr>
                            <th>Pending Shares</th>
                            <td>{{minerStats.pendingShares}}</td>
                        </tr>
                        <tr>
                            <th>Last Payment</th>
                            <td>{{minerStats.lastPayment | date:'medium'}}</td>
                        </tr>
                        <tr>
                            <th>Last Update</th>
                            <td>{{minerStats.performance.created | date:'medium'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <h3>Past 24 Hour Worker Rates</h3>
                <canvas *ngIf="chartLabels.length > 0" baseChart [chartType]="'line'" [datasets]="workerChartData" [labels]="chartLabels"
                    [options]="hashrateChartOptions"></canvas>
            </div>
        </div>
    </div>
</div>