<div class="row" [hidden]="lookedUp">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">Enter A Worker Address</div>
            <div class="card-block">
                <form #workerLookupForm="ngForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
                    <section class="form-block">
                        <div class="form-group">
                            <label for="workerAddress" class="required">Worker Address</label>
                            <label for="workerAddress"
                                aria-haspopup="true"
                                role="tooltip"
                                class="tooltip tooltip-validation tooltip-md ">
                                <input type="text" id="workerAddress" placeholder="DSPb2CANNBmCpPLmptnG9Ran31zBLK6JfD"
                                    required
                                    size="50"
                                    name="address"
                                    [(ngModel)]="lookupModel.address">
                                <span class="tooltip-content">
                                    You should enter the address of the worker you want to look up information for here.
                                </span>
                            </label>
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="workerLookupForm.form.invalid">Lookup</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row" [hidden]="!lookedUp">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">Stats for Worker Address: {{lookupModel.address}}</div>
        </div>
    </div>
</div>
