<clr-datagrid *ngIf="miners">
    <clr-dg-column [clrDgField]="'miner'">Miner Address</clr-dg-column>
    <clr-dg-column [clrDgField]="'hashrate'">HashRate</clr-dg-column>
    <clr-dg-column [clrDgField]="'sharesPerSecond'">sharesPerSecond</clr-dg-column>

    <clr-dg-row *clrDgItems="let miner of miners | async">
        <clr-dg-cell>{{miner.miner}}</clr-dg-cell>
        <clr-dg-cell>{{miner.hashrateFormatted}}</clr-dg-cell>
        <clr-dg-cell>{{miner.sharesPerSecond}}</clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>